.cardswrapper {
  display: flex;
  justify-content: space-between;
  .card__wrapper {
    width: 50%;
    padding: 20px 0px;
    display: flex;
    .card {
      max-width: 350px;
      min-height: 200px;
      border-radius: 50px;
      margin: 0 50px;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 15px;
      h2 {
        text-align: center;
      }
    }
    .checkinfo {
      display: flex;
      flex-direction: column;
      justify-content: center;
      p {
        display: flex;
        align-items: center;
      }
      .checktext {
        padding-left: 10px;
        font-family: "Poppins", sans-serif;
        font-weight: 700;
      }
    }
    .checkinfo__dark {
      color: white;
    }
  }
  .card_one__wrapper {
    background-color: white;
    position: relative;
  }
  .card_two__wrapper {
    background-color: black;
    position: relative;
  }
  .contrastratio {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    z-index: 1;
    left: 45%;
    top: 20%;
    width: 50px;
    height: 50px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
  }
}

@media only screen and (max-width: 1300px) {
  .cardswrapper {


    .contrastratio {
      left: 50%;
    }
  }
}

@media only screen and (max-width: 810px) {
  .cardswrapper {
    flex-direction: column;
    .card__wrapper {
      width: 100%;
      flex-direction: column;
      align-items: center;
      .card {
        margin: 0 20px;
      }
      .checkinfo {
        flex-direction: row;
      }
    }
    .contrastratio {
      left: 60%;
    }
  }
}

@media only screen and (max-width: 660px) {
  .cardswrapper {
    .contrastratio {
      left: 65%;
    }
  }
}
